@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

body{
    font-size: 15px;
    color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
}
.card-container{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 91%;
    border-radius: 15px;
    overflow: hidden;
}
h2{
    color: hsl(0, 0%, 95%);
    font-size: 40px;
    font-family: "Big Shoulders Display";
    font-weight: 700;
}
article{
  color: hsla(0, 0%, 100%, 0.75);  
  line-height: 150%;
}
.car-card{
    padding: 45px 50px;
    font-family: "Lexend Deca";
    font-weight: 400;
    height: auto;
}
#sedan-card{
    background-color: hsl(31, 77%, 52%);
}
#suv-card{
    background-color: hsl(184, 100%, 22%);
}
#luxury-card{
    background-color: hsl(179, 100%, 13%);
}
.card-button{
    padding: 10px;
    margin-top: 20px;
    width: 120px;
    border: 2px hsl(0, 0%, 95%) solid;;
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
}
#sedan-button{
    color: hsl(31, 77%, 52%);
    font-weight: 700;
}
#suv-button{
    color: hsl(184, 100%, 22%);
    font-weight: 700;
}
#luxury-button{
    color: hsl(179, 100%, 13%);
    font-weight: 700;
}